.container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 24px;
}

.button {
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  background-color: #0056b3; 
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.button:hover {
  background-color: #004085;
}

.buttonReset {
    padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 250ms ease;
  
  background-color: #dc3545; 
}

.buttonReset:hover {
  background-color: #bd2130;
}